* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  /* background-color: #f5ba13; */
  background-color: #1d267d;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

header input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: -32px;
  margin-right: 8px;
  font-size: 17px;
}

header button {
  float: right;
  padding: 6px;
  margin-top: -31px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

header a {
  color: white;
  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  float: right;
  /* top: 50%; */
  margin-top: -32px;
}

header a:hover {
  color: #9ba4b5;
}

/* header a:active {
  color: black;
} */

.description {
  font-size: 1.4rem;
  font-family: inherit;
  text-align: center;
  margin: 15px 5px 5px;
  opacity: 0.5;
}

footer {
  /* position: absolute; */
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 250px;
  margin: 16px;
  float: left;
  height: 200px;
}

.note img {
  top: 2%;
  height: 145px;
  width: 135px;
  position: relative;
  left: 20%;
  border-radius: 100%;
}

.note h1 {
  font-size: 1.4em;
  position: relative;
  top: 6%;
  text-align: center;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #1d267d;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note,
.Recipie {
  position: relative;
  width: 75%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  height: 540px;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  margin-bottom: 10px;
}
form.create-note button,
.Recipie button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #1d267d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
